<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
	<title>Primer layout</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
      <div class="row">
      	<div class="col-12"></div>
      </div>
      <div class="row">
      	<div class="col-12"></div>
      </div>
      <div class="row">
      	<div class="col-12"></div>
      </div>
</body>
</html>